html,
body,
.container-fluid,
#root,
.App {
  height: 100%;
}

body {
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
}

.header {
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f3f3f;
  z-index: 1;
}

table.table-hover td {
  cursor: pointer;
}

.form-control {
  margin-bottom: 0.8rem;
}

.collection-container {
  cursor: pointer;
  background-color: #654384;
  border-radius: 1rem;
  color: #fff;
}

.collection-container h1 {
  font-size: 5rem;
}

.collection-container:hover {
  background-color: #4f3468;
}

/* custom color theme */
.btn-link,
.btn-link:hover {
  color: rgb(85, 85, 85);
  font-weight: bold;
}
